# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/

# Go
*.exe
*.test
*.out
go.sum

# Data logs
*.log

# Data (Ignorar todo excepto un ejemplo si quisieras)
data/*
!data/sample.txt
!data/.keep

# OS
.DS_Store
Thumbs.db